*{
	font-size: 1.0em;	/* cambiamos el tamaño de la letra */
}

header, nav, main div, footer{
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

nav a:active{
	text-shadow: 3px;
	background-color: rosybrown;
	transition: 0.2s;
}
.right_f{
	width: 100px;
}

main .flex-container>*{
	max-width: 200px;
}

#icono{
	width: 100px;	/* cambiamos tamaño del icono */
}

#isearch{
	background-color: darkred;
	max-width: 120px;
	font-size: 1.2em;
}
#botosub{
	font-size: 1.2em;
}

.tabla{
	min-width: 120px;
}

#playerChoice, #cpuChoice{
	width: 150px;
	height: 150px;
}

img#bp, img#bs, img#bt{
	width: 50%;
}