/* fuentes de texto */
*{
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

header, nav, main div, footer{
	background-color: #008b38;
	background-size: cover;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid thick #bc8f8f;
	border-style: double;
	border-radius: 5px;
}

header{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#icono{
	width: 120px;
}

#icono:hover{
	transform: scale(120%);
	transition: 0.2s;
	filter: drop-shadow(0 0 0.75rem rgb(107, 20, 220));
}
/* nav */
nav{
	padding: 10px 10px 10px;
	align-content: center;
}
nav a{
	font-size: 0.9em;
	text-decoration-line: none;
	padding: 9px;
}
nav div{
	text-align: center;
	align-content: center;
	max-width: 100px;
	border: none;
}

/* en función de la página donde nos encontremos cambiaremos el aspecto de su enlace */
.home{
	nav a:nth-child(2){
		color: #c261b9;
	}
}

.acerca{
	footer a:nth-child(2){
		color: #c261b9;
	}
}

/* float */
.left_f{
	float: left;
}
.right_f{
	float: right;
}

#botonsub, #restart{
	background-color: #422;
	padding: 2px 4px 2px 4px;
	font-size: 0.9em;
	box-shadow: 2px 2px 2px salmon;
}

main .flex-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

main .flex-container>*{
	max-width: 560px;
}
.flex-container2{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.flex1{	flex: 1; width: 80px;	}
.flex2{	flex: 2; width: 20vw;	}
.flex3{	flex: 3; width: 36vw;	}
.flex4{	flex: 4; 	}
.flex5{	flex: 5; 	}

/* no border en cuadros internos a main */
.noborder{
	border-style: none;
}

.justificado{
	text-align: justify;
}
.centrado{
	text-align: center;
	width: 80px;
}

article>*{
	min-width: 200px;
	padding: 10px 10px 10px;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
	text-align: center;
}
article a{
	font-style: italic;
}
/* Contact */

footer{
	text-align: right;
	padding: 10px 10px 10px;
	font-size: 0.8em;	 
}

footer a, summary, div a{	text-decoration-line: none;}

/* About */

figure{
	padding: 0px;
	margin: auto 5px;
	text-align: center;
}

input{
	background-color: rgb(65, 0, 139);
	max-width: 210px;
	font-size: 0.8em;
	border: none;
}

div .juego{
	text-align: center;
	border: none;
}

.machineColor{
	filter: drop-shadow(0 0 0.75rem rgb(233, 229, 2));
}
.playerColor{
	filter: drop-shadow(0 0 0.75rem rgb(246, 2, 83));
}

img{
	border-radius: 5px;
}
.select:hover{
	transform: scale(110%);
	transition: 0.5s;

}
.selectable{
	transform: scale(0.9);
	transition-delay: 0.1s;
	filter: drop-shadow(0 0 0.75rem crimson);
}

canvas {
  top: 50%;
  left: 50%;
  transform: translate(22%, 0%);
}

#leyenda{
	font-size: clamp(0.6em, 1.2vw, 1.5em);
}
